#clockContainer{
    position: relative;
    margin: auto;
    /* border: 2px solid black; */
    width:  45vw;
    height: 45vw;
    background: url(clcok1.jpg) no-repeat ;
    background-size: 100%;
}

#hour , #minute , #second {
    position: absolute ;
    border-radius: 15px ;
    transform-origin: bottom;
}

#hour{
    background-color: red;
    width: 2%;
    height: 25%;
    right: 49.75%;
    top: 23%;
    opacity: 0.8;
    /* display: none; */
}
#minute{
    background-color: green;
    width: 1.5%;
    height: 27%;
    right: 50.06%;
    top: 21%;
    opacity: 0.8;
    /* display: none; */
}
#second{
    background-color: blue;
    width: 1%;
    height: 31%;
    right: 50.3%;
    top: 17%;
    opacity: 0.8;
    /* display: none; */
}